.navbar .container .navbar-brand img {
    height: 50px;
}

/*-------index--------*/
.wrapper {
    padding: 0 20px;
}

.wrapper h1 {
    font-size: 26px;
}

.wrapper h2 {
    color: #007bff;
    font-size: 14px;
}

.wrapper p {
    font-size: 14px;
}
/*-------/index--------*/



/*-------shop--------*/
.col-lg-9 .row {
    margin-top: 25px;
}

a.btn.btn-primary {
    width: 100%;
}
/*-------/shop--------*/


/*-------about--------*/
.wrapper .content {
    margin: 0 auto;
}
.wrapper .content .why-us h1 {
    margin-left: 10%;
    font-size: 26px;
    text-transform: uppercase;
}
.why-us-content p {
    display: inline-block;
    color: #007bff;
}
.wrapper .content .about-us h1 {
    margin-left: 10%;
    font-size: 26px;
    text-transform: uppercase;
}
.about-us-content p {
    display: inline-block;
    color: #007bff;
}
.wrapper .content .social h1 {
    margin-left: 10%;
    font-size: 26px;
    text-transform: uppercase;
}
.social .social-content{
    margin-bottom: 20px;
}
.social .social-content i {
    font-size: 40px;
    color: #000;
    margin: 0 25px;
}
/*-------/about--------*/


/*-------contacts--------*/
/*-------/contacts--------*/