.navbar .container .navbar-brand img {
    height: 50px;
}

/*-------index--------*/
.wrapper {
    padding: 0 20px;
}

.wrapper h1 {
    font-size: 26px;
}

.wrapper h2 {
    color: #007bff;
    font-size: 14px;
}

.wrapper p {
    font-size: 14px;
}
/*-------/index--------*/



/*-------shop--------*/
.col-lg-9 .row {
    margin-top: 25px;
}

a.btn.btn-primary {
    width: 100%;
}
/*-------/shop--------*/


/*-------about--------*/
/*-------/about--------*/


/*-------contacts--------*/
/*-------/contacts--------*/